@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* <link rel=”stylesheet” href=””> */



.Task_search {
    display: flex;
    align-items: center;  
    flex-wrap: nowrap;
    background-color: #444;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    border-bottom: 2px solid #333;
    height: 70px;
    padding-left: 13px;
    width: 100%;
    /* justify-content: center; */
}


.selectForm {
    border-radius: 18px 0 0 18px;
    height: 35px;
}




/* .Task_search > div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.TaskSearchInput {
    /* flex: 1; */
    background: #f5f6f7;
    /* padding: 0.5rem 0.2rem; */
    border: none;
    border-radius: 0 18px 18px 0;
    /* display: block; */
    /* margin: 0.3rem 1rem 0 0; */
    width: 230px;
    height: 35px;
}

.Page_limit {
  width: 50px;  
  margin: 0 10px 0 20px;

}


/* .Task_search label {

} */

.Task_search button {
    background: #ff9900;
    color: #fff;
    padding: 5rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}





.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationItem {
    /* background: #fff; */
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginationItem span {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prev,
  .next {
    /* background: #fff; */
    border: none;
    padding: 10px;
    color: rgb(196, 196, 196);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
  }
  
  .paginationItem.active {
    border: 1px solid #888;
    /* color: #888; */
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }