// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

$base-dark: rgb(5, 6, 12);
$base-light: rgb(20, 21, 27);
$base-text: hsl(300, 100%, 95%);
$yellow-border: #FCDEFF;

$radius-middle: 8px;
$height-input: 38px;

// $color-an1: #B8FF36;
$color-an1: #C9FF66;
$color-an2: #FFD363;
$color-an3: #F78D6F;
$color-an4: #FCDEFF;
$color-an5: #191D3B;