// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

$base-dark: rgb(5, 6, 12);
$base-light: rgb(20, 21, 27);
$base-text: hsl(300, 100%, 95%);
$yellow-border: #ff9900;

$radius-middle: 8px;
$height-input: 38px;